{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Caplia Investor API","description":"Public REST API for the Caplia Investor Portal. Auth: `Authorization: Bearer cap_inv_live_<32 chars>`.","contact":{"name":"Caplia","url":"https://docs.venture.caplia.ai"}},"servers":[{"url":"https://api.venture.caplia.ai","description":"Production"}],"components":{"schemas":{},"parameters":{}},"paths":{"/v1/health":{"get":{"summary":"Health check","tags":["Meta"],"responses":{"200":{"description":"Liveness check","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"version":{"type":"string","enum":["v1"]}},"required":["status","version"]}}}}}}},"/v1/uploads/sign":{"post":{"tags":["Uploads"],"summary":"Issue a short-lived upload token for a public form","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"form_id":{"type":"string","minLength":1,"maxLength":128},"application_id":{"type":"string","minLength":1,"maxLength":128}},"required":["form_id"]}}}},"responses":{"200":{"description":"Short-lived single-use upload token","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"expires_at":{"type":"string"},"max_bytes":{"type":"number"},"accepted_mime":{"type":"string"},"properties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"}},"required":["id","label"]}}},"required":["id","name","options"]},"description":"The form team's custom properties (live config) — render these as form fields and pass selections via `properties` on POST /v1/uploads/decks."}},"required":["token","expires_at","max_bytes","accepted_mime","properties"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/uploads/decks":{"post":{"tags":["Uploads"],"summary":"Submit a deck using a short-lived upload token","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"nullable":true},"company_name":{"type":"string"},"company_url":{"type":"string","format":"uri"},"notes":{"type":"string"},"founder_name":{"type":"string"},"founder_email":{"type":"string","format":"email"},"properties":{"type":"string","description":"JSON object mapping a custom property (name or id) to an option (label or id). Valid values are returned by POST /v1/uploads/sign for this form. Unknown entries are ignored."}}}}}},"responses":{"202":{"description":"Accepted; deck queued for processing","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"company_id":{"type":"string","nullable":true,"format":"uuid"},"status":{"type":"string","enum":["queued"]},"poll_url":{"type":"string","format":"uri"}},"required":["job_id","company_id","status","poll_url"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/connect/recognise":{"post":{"tags":["Connect"],"summary":"Recognise whether an email is linked to a Caplia Passport","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"form_id":{"type":"string","minLength":1,"maxLength":128},"email":{"type":"string","maxLength":320,"format":"email"}},"required":["form_id","email"]}}}},"responses":{"200":{"description":"Whether the email is linked to a Caplia Passport holder","content":{"application/json":{"schema":{"type":"object","properties":{"recognised":{"type":"boolean"}},"required":["recognised"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/search":{"get":{"summary":"Search companies","tags":["Companies"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":100},"required":true,"name":"q","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":25,"default":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Companies whose name matches the query that the caller can read (RLS-scoped)","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true}},"required":["id","name","website","industry","stage"]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies":{"get":{"summary":"List companies","tags":["Companies"],"parameters":[{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"stage","in":"query"},{"schema":{"type":"string","description":"Filter by a custom property (name or id, see GET /v1/properties). Pair with `value`. Example: find the company you submitted with your own reference by storing it in a property and querying property=Application ID&value=APP-123."},"required":false,"name":"property","in":"query"},{"schema":{"type":"string","description":"The property value to match: the answer string for text properties (exact, case-sensitive), or an option label or id for select/multi_select (archived options accepted, so historical rows stay findable)."},"required":false,"name":"value","in":"query"}],"responses":{"200":{"description":"Paginated list of companies in the caller's pipeline","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"problem_statement":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}},"required":["id","name","website","industry","stage","problem_statement","created_at"]}},"next_cursor":{"type":"string","nullable":true}},"required":["data","next_cursor"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}},"post":{"summary":"Create a company","tags":["Companies"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"website":{"type":"string","format":"uri"},"industry":{"type":"string","maxLength":100},"stage":{"type":"string","maxLength":50},"properties":{"type":"object","additionalProperties":{"anyOf":[{"type":"string","minLength":1,"maxLength":4000},{"type":"array","items":{"type":"string","minLength":1,"maxLength":200},"minItems":1,"maxItems":10}]}},"pipeline_ids":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1,"maxItems":10,"description":"Pipeline ids to add the company to (one deal per pipeline, e.g. one per award entered). Must be live pipelines of your team; ids are supplied by your Caplia contact. Omitted: the team's default intake pipeline."}},"required":["name"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"problem_statement":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}},"required":["id","name","website","industry","stage","problem_statement","created_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}":{"get":{"summary":"Get a company","tags":["Companies"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"problem_statement":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true},"founders":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"role":{"type":"string","nullable":true},"linkedin_url":{"type":"string","nullable":true}},"required":["name","email","role","linkedin_url"]}},"properties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string","enum":["select","multi_select","text"]},"value":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"label":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"nullable":true}]}},"required":["id","name","type","value","label"]}}},"required":["id","name","website","industry","stage","problem_statement","created_at","founders","properties"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}/scores":{"get":{"summary":"Get a company's scores","tags":["Scores & metrics"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"cri":{"type":"object","properties":{"score":{"type":"number","nullable":true},"scored_at":{"type":"string","nullable":true},"domains":{"type":"array","items":{"nullable":true}}},"required":["score","scored_at","domains"]},"thesis_matches":{"type":"array","items":{"type":"object","properties":{"thesis_id":{"type":"string"},"thesis_name":{"type":"string"},"match_score":{"type":"number","nullable":true},"score":{"type":"number","nullable":true},"thesis_fit_score":{"type":"number","nullable":true},"scoring_status":{"type":"string"}},"required":["thesis_id","thesis_name","match_score","score","thesis_fit_score","scoring_status"]}}},"required":["cri","thesis_matches"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}/metrics":{"get":{"summary":"Get a company's metrics","tags":["Scores & metrics"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"traction":{"type":"array","items":{"type":"object","properties":{"metric_name":{"type":"string"},"metric_value":{"type":"string"},"metric_date":{"type":"string","nullable":true}},"required":["metric_name","metric_value","metric_date"]}},"key_metrics":{"type":"array","items":{"nullable":true}}},"required":["traction","key_metrics"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}/documents":{"get":{"summary":"List a company's documents","tags":["Data rooms"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Data room files visible to the caller","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"category":{"type":"string","nullable":true},"size":{"type":"number","nullable":true},"type":{"type":"string","nullable":true},"uploaded_at":{"type":"string","nullable":true}},"required":["id","name","category","size","type","uploaded_at"]}}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}},"post":{"summary":"Upload a document","tags":["Data rooms"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"nullable":true},"category":{"type":"string"},"name":{"type":"string"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"category":{"type":"string","nullable":true},"size":{"type":"number","nullable":true},"type":{"type":"string","nullable":true},"uploaded_at":{"type":"string","nullable":true}},"required":["id","name","category","size","type","uploaded_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}/folders":{"get":{"summary":"List data room folders","tags":["Data rooms"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"key":{"type":"string"},"name":{"type":"string"},"type_id":{"type":"string","nullable":true},"order":{"type":"number"}},"required":["id","key","name","type_id","order"]}}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/documents/{id}":{"get":{"summary":"Get a document download URL","tags":["Data rooms"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Signed URL valid for 1 hour","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"download_url":{"type":"string","format":"uri"},"expires_at":{"type":"string"}},"required":["id","name","download_url","expires_at"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/theses":{"get":{"summary":"List investment theses","tags":["Theses & views"],"responses":{"200":{"description":"Active investment theses for caller's team","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"is_active":{"type":"boolean"}},"required":["id","name","description","is_active"]}}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/properties":{"get":{"tags":["Properties"],"summary":"List the team's custom properties and options","responses":{"200":{"description":"The caller team's custom properties with their selectable (non-archived) options","content":{"application/json":{"schema":{"type":"object","properties":{"properties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string","enum":["select","multi_select","text"]},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"}},"required":["id","label"]}}},"required":["id","name","type","options"]}}},"required":["properties"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/pipelines":{"get":{"tags":["Pipelines"],"summary":"List the pipelines this key can submit into","responses":{"200":{"description":"Live pipelines this key may target via pipeline_ids on POST /v1/companies and POST /v1/decks","content":{"application/json":{"schema":{"type":"object","properties":{"pipelines":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"is_default":{"type":"boolean"}},"required":["id","name","is_default"]}}},"required":["pipelines"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/views":{"get":{"summary":"List pipeline views","tags":["Theses & views"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string"},"name":{"type":"string"},"scope":{"type":"string"},"stage_filter":{"type":"array","nullable":true,"items":{"type":"string"}}},"required":["id","key","name","scope","stage_filter"]}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/views/{key}/companies":{"get":{"summary":"List companies in a view","tags":["Theses & views"],"parameters":[{"schema":{"type":"string"},"required":true,"name":"key","in":"path"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"stage":{"type":"string","nullable":true}},"required":["id","name","stage"]}},"next_cursor":{"type":"string","nullable":true}},"required":["data","next_cursor"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/decks":{"post":{"summary":"Submit a pitch deck","tags":["Deck intake"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"nullable":true},"company_name":{"type":"string"},"company_url":{"type":"string","format":"uri"},"notes":{"type":"string"},"founder_name":{"type":"string"},"founder_email":{"type":"string","format":"email"},"properties":{"type":"string","description":"JSON object mapping a custom property (name or id) to an option (label or id), e.g. {\"Award Category\":\"Climate Tech\"}. Discover valid values via GET /v1/properties. Unknown entries are ignored."},"pipeline_ids":{"type":"string","description":"Pipeline ids for the resulting deal, as a JSON array (e.g. [\"<uuid>\",\"<uuid>\"]) or comma-separated list. One deal per pipeline — a company entering several awards names each award's pipeline. Must be live pipelines of your team (ids supplied by your Caplia contact). Omitted: the team's default intake pipeline."}}}}}},"responses":{"202":{"description":"Accepted; deck queued for processing. Poll poll_url until status is completed and STORE the returned company_id — it is the durable reference for reading this company back (scores, metrics, updates). If you fire-and-forget instead, you can recover the company later by querying GET /v1/companies?property=…&value=… on a reference you submitted in properties.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"company_id":{"type":"string","nullable":true,"format":"uuid"},"status":{"type":"string","enum":["queued"]},"poll_url":{"type":"string","format":"uri"}},"required":["job_id","company_id","status","poll_url"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"429":{"description":"Rate limit exceeded; retry after the window resets (Retry-After header)","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/jobs/{id}":{"get":{"summary":"Get intake job status","tags":["Deck intake"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string"},"company_id":{"type":"string","nullable":true},"status":{"type":"string","enum":["queued","processing","completed","failed"]},"created_at":{"type":"string"},"completed_at":{"type":"string","nullable":true},"queue":{"type":"object","nullable":true,"properties":{"position":{"type":"integer","nullable":true},"depth":{"type":"integer"}},"required":["position","depth"]},"results":{"type":"object","properties":{"company":{"nullable":true},"cri":{"nullable":true},"thesis_matches":{"nullable":true}}},"errors":{"type":"array","items":{"nullable":true}}},"required":["job_id","company_id","status","created_at","completed_at","queue","results","errors"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/companies/{id}/notes":{"post":{"summary":"Create a deal note","tags":["Notes"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"body":{"type":"string","minLength":1,"maxLength":10000}},"required":["body"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"body":{"type":"string"},"created_at":{"type":"string"}},"required":["id","body","created_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/company":{"get":{"summary":"Get my company","tags":["Founder (me)"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"problem_statement":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}},"required":["id","name","website","industry","stage","problem_statement","created_at"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}},"patch":{"summary":"Update my company","tags":["Founder (me)"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"website":{"type":"string","format":"uri"},"industry":{"type":"string","maxLength":100},"stage":{"type":"string","maxLength":50},"problem_statement":{"type":"string","maxLength":10000}},"additionalProperties":false}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"website":{"type":"string","nullable":true},"industry":{"type":"string","nullable":true},"stage":{"type":"string","nullable":true},"problem_statement":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}},"required":["id","name","website","industry","stage","problem_statement","created_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/scores":{"get":{"summary":"Get my scores","tags":["Founder (me)"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"cri":{"type":"object","properties":{"score":{"type":"number","nullable":true},"max":{"type":"number"},"verified":{"type":"boolean"},"points_to_verified":{"type":"number","nullable":true},"scored_at":{"type":"string","nullable":true},"domains":{"type":"array","items":{"nullable":true}},"recommendations":{"type":"array","items":{"nullable":true}}},"required":["score","max","verified","points_to_verified","scored_at","domains","recommendations"]},"thesis_matches":{"type":"array","items":{"type":"object","properties":{"thesis_id":{"type":"string"},"thesis_name":{"type":"string"},"match_score":{"type":"number","nullable":true},"score":{"type":"number","nullable":true},"thesis_fit_score":{"type":"number","nullable":true},"scoring_status":{"type":"string"}},"required":["thesis_id","thesis_name","match_score","score","thesis_fit_score","scoring_status"]}}},"required":["cri","thesis_matches"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/metrics":{"get":{"summary":"Get my metrics","tags":["Founder (me)"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"traction":{"type":"array","items":{"type":"object","properties":{"metric_name":{"type":"string"},"metric_value":{"type":"string"},"metric_date":{"type":"string","nullable":true}},"required":["metric_name","metric_value","metric_date"]}},"key_metrics":{"type":"array","items":{"nullable":true}}},"required":["traction","key_metrics"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/documents":{"get":{"summary":"List my documents","tags":["Founder (me)"],"responses":{"200":{"description":"Data room files for the founder's company","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"category":{"type":"string","nullable":true},"size":{"type":"number","nullable":true},"type":{"type":"string","nullable":true},"uploaded_at":{"type":"string","nullable":true}},"required":["id","name","category","size","type","uploaded_at"]}}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}},"post":{"summary":"Upload my document","tags":["Founder (me)"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"nullable":true},"category":{"type":"string"},"name":{"type":"string"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"category":{"type":"string","nullable":true},"size":{"type":"number","nullable":true},"type":{"type":"string","nullable":true},"uploaded_at":{"type":"string","nullable":true}},"required":["id","name","category","size","type","uploaded_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/documents/{id}/url":{"get":{"summary":"Get my document download URL","tags":["Founder (me)"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Signed URL valid for 1 hour","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"download_url":{"type":"string","format":"uri"},"expires_at":{"type":"string"}},"required":["id","name","download_url","expires_at"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/deck/drafts":{"post":{"summary":"Create a deck draft","tags":["Founder (me)"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"nullable":true}}}}}},"responses":{"202":{"description":"Accepted; draft queued for private scoring","content":{"application/json":{"schema":{"type":"object","properties":{"draft_id":{"type":"string","format":"uuid"},"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["scoring"]},"poll_url":{"type":"string"}},"required":["draft_id","job_id","status","poll_url"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}},"get":{"summary":"List my deck drafts","tags":["Founder (me)"],"responses":{"200":{"description":"This company's deck drafts, newest first","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string"},"cri_score":{"type":"number","nullable":true},"created_at":{"type":"string","nullable":true},"file_name":{"type":"string","nullable":true}},"required":["id","status","cri_score","created_at","file_name"]}}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/deck/drafts/{id}":{"get":{"summary":"Get a deck draft","tags":["Founder (me)"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string"},"cri_score":{"type":"number","nullable":true},"verified":{"type":"boolean"},"domains":{"type":"array","items":{"nullable":true}},"recommendations":{"type":"array","items":{"nullable":true}},"scored_at":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true},"file_name":{"type":"string","nullable":true}},"required":["id","status","cri_score","verified","domains","recommendations","scored_at","created_at","file_name"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}},"/v1/me/deck/drafts/{id}/publish":{"post":{"summary":"Publish a deck draft","tags":["Founder (me)"],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Draft promoted to live deck and re-scored publicly","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["published"]},"document_id":{"type":"string","format":"uuid"},"job_id":{"type":"string","format":"uuid"}},"required":["status","document_id","job_id"]}}}},"403":{"description":"Key lacks required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"404":{"description":"Not found or out of scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"409":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"}},"required":["code","message","request_id"]}},"required":["error"]}}}}}}}}}